@use "@/styles/abstracts/mixins" as *;

$footer-text-color: var(--c-blue);
$footer-link-logo-copyright: "@/assets/icons/logo-connect-alternativa.svg?react";
$logo-opacity: .85;
$logo-opacity-transition: 1;

.footer{
  &__copyright{
    &--wrapper{
      @include flex-center-start;
      gap: var(--g-base);
      order: 1;
      @media screen and (min-width: 480px){
        order: 2;
      }
    }

    &--link{
      height: 3.1rem;
      width:  4.3rem;
      @media screen and (min-width: 480px){
        height: 3rem;
        width:  4.1rem;
      }
    }

    &--logo{
      @include hover-transition-opacity(
        $logo-opacity,
        $logo-opacity-transition
      );
      @include image-replacement($footer-link-logo-copyright);
    }

    &--text{
      font-family:    var(--ff-texts);
      font-weight:    var(--fw-regular);
      font-size:      var(--fs-xs);
      letter-spacing: var(--ls-base);
      line-height:  var(--lh-sm);
      color: $footer-text-color;

      @media screen and (min-width: 480px){
        font-size:    var(--fs-base);
      }
    }
  }
}
