@use "../../../styles/abstracts/mixins" as *;

$header-wrapper-background: var(--color-blue);
$header-wrapper-height: 8.5rem;

.header{
  &__wrapper{
    @include wrapper;
    @include flex-center-center;
    background-color: $header-wrapper-background;
    height: $header-wrapper-height;
    box-shadow: 0 .2rem 0.8rem rgba(0, 0, 0, 0.5);
  }

  &__container{
    @include container;
  }
}
