@use "@/styles/abstracts/mixins" as *;

$header-wrapper-background: var(--c-blue);

.header{
  &__wrapper{
    @include flex-center-center;
    background-color: $header-wrapper-background;
    box-shadow: 0 .2rem .8rem rgba(0, 0, 0, .5);
  }

  &__container{
    @include flex-center-center;
    width: 100%;
    gap: 1rem;

    @media only screen and (min-width: 480px){
      @include flex-center-between;
      width: 100%;
      max-width: 124rem;
    }
  }
}
