$content-max-width: 1240px;

@mixin flex-center{
  align-items: center;
  display: flex;
  flex-direction: row;
}

@mixin flex-start{
  align-items: start;
  display: flex;
  flex-direction: row;
}

@mixin flex-center-center{
  @include flex-center;
  justify-content: center;
}

@mixin flex-center-between{
  @include flex-center;
  justify-content: space-between;
}

@mixin flex-center-start{
  @include flex-center;
  justify-content: flex-start;
}

@mixin flex-center-around{
  @include flex-center;
  justify-content: space-around;
}

@mixin flex-start-center{
  @include flex-start;
  justify-content: center;
}



@mixin flex-col{
  display: flex;
  flex-direction: column;
}


@mixin flex-col-start{
  @include flex-col;
  align-items: flex-start;
}

@mixin flex-col-start-between{
  @include flex-col-start;
  justify-content: flex-start;
}

@mixin flex-col-center{
  @include flex-col;
  align-items: center;
}

@mixin flex-col-center-between{
  @include flex-col-center;
  justify-content: space-between;
}

@mixin flex-col-end{
  @include flex-col;
  align-items: flex-end;
}

@mixin hover-transition-color(
  $link-color,
  $link-color-transition
) {
  color: $link-color;
  transition: color .3s ease;
  &:hover{
    color: $link-color-transition;
  }
}

@mixin hover-transition-bg(
  $button-bg,
  $button-bg-transition
) {
  background-color: $button-bg;
  transition: background-color .3s ease;
  &:hover{
    background-color: $button-bg-transition;
  }
}

@mixin hover-transition-opacity(
  $logo-opacity,
  $logo-opacity-transition
) {
  opacity: $logo-opacity;
  transition: opacity .3s ease;
  &:hover{
    opacity: $logo-opacity-transition;
  }
}

@mixin image-replacement($img-url) {
  background-image: url('#{$img-url}');
  background-repeat: no-repeat;
  background-size: contain;
  display: block;
  height: 100%;
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  width: 100%;
}

@mixin wrapper{
  @include flex-center-center;
  width: 100vw;
}

@mixin container{
  @include flex-col-center;
  height: 100%;
  margin: 0 auto;
  padding: 0 1rem;
  width: 100vw;
  @media screen and (min-width: 480px){
    @include flex-center-between;
    max-width: $content-max-width;
    padding: 0 4rem;
  }
}

@mixin link-style(
  $color,
  $color-hover,
  $font-size,
  $font-weight
) {
  font-size: $font-size;
  font-weight: $font-weight;
  text-decoration: none;

  color: $color;
  transition: color .3s ease;
  &:hover {
    color: $color-hover;
  }
}
