@mixin flex-center-center{
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flex-between-center{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@mixin flex-around-center{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

@mixin image-replacement($img-url, $width, $height) {
  background-image: url('#{$img-url}');
  background-repeat: no-repeat;
  width: $width;
  height: $height;

  // Hide text from view
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}
