@use "@/styles/abstracts/mixins" as *;

$button-bg: var(--c-red);
$button-bg-transition: var(--c-blue);
$button-color: var(--c-white);


.home{
  &__button{
    @include flex-center-center;
    background-color: $button-bg;
    border-radius: var(--br-xs);
    box-shadow: .4rem .4rem .5rem rgba(0, 0, 0, 0.15);
    color: $button-color;
    font-size:   var(--fs-sm);
    font-weight: var(--fw-semi);
    gap: var(--g-base);
    height: 4.6rem;
    width: 20rem;
    @media screen and (min-width: 480px){
      font-size: var(--fs-md);
      height: 5.6rem;
      max-width: 60rem;
      width: 26rem;
    }

    transition: all 0.6s ease 0s;
    -webkit-transition: all 0.6s ease 0s;

    &:hover{
      background-color: $button-bg-transition;
      transform: translateX(10px);
    }

    &:active{
      transform: translateX(-5px);
    }
  }
}
