@use "@/styles/abstracts/mixins" as *;

$button-bg: var(--c-red);
$button-bg-transition: var(--c-blue);
$button-color: var(--c-white);
$button-width: 26rem;
$button-height: 5.6rem;
$button-font-size: var(--fs-md);

.home{
  &__button{
    @include flex-center-center;
    background-color: $button-bg;
    border-radius: var(--br-xs);
    box-shadow: .4rem .4rem .5rem rgba(0, 0, 0, 0.15);
    color: $button-color;
    font-size: $button-font-size;
    font-weight: var(--fw-semi);
    gap: var(--g-base);
    height: $button-height;
    width: $button-width;

    transition: all 0.6s ease 0s;
    -webkit-transition: all 0.6s ease 0s;

    &:hover{
      background-color: $button-bg-transition;
      transform: translateX(10px);
    }

    &:active{
      transform: translateX(-5px);
    }
  }
}
