@use "../../../../styles/abstracts/mixins" as *;

$brand-link-width: 6.1rem;
$brand-link-height: 4.6rem;
$brand-logo-url: "../../../../assets/icons/logo-connect.svg?react";

.brand{
  &__link{
    display: block;
    width: $brand-link-width;
    height: $brand-link-height;
  }
  &__logo {
    @include image-replacement($brand-logo-url);
  }
}
