@use "../../../../styles/abstracts/mixins" as *;

$footer-text-color: var(--color-blue);
$footer-link-logo-dev: "../../../../assets/icons/logo-rosadev.png";
$footer-link-logo-apoio: "../../../../assets/icons/logo-empower.svg?react";
$footer-link-logo-ensino: "../../../../assets/icons/logo-vainaweb.svg?react";
$logo-opacity: .85;
$logo-opacity-transition: 1;

.footer{
  &__areas{
    @include flex-start-center;
    gap: 3rem;
  }

  &__area{
    @include flex-col-center;
    gap: .4rem;
  }

  &__text{
    font-family: var(--font-texts);
    font-weight: var(--font-regular);
    font-size: 1.2rem;
    letter-spacing: .08rem;
    line-height: 1.2;
    color: $footer-text-color;
  }

  &__logos{
    @include flex-start-center;
  }

  &__link{
    &-wrapper{
      @include flex-center-center;
      height: 3rem;
    }
    &-dev{
      height: 2.8rem;
      width: 4.6rem;
    }
    &-ensino{
      height: 3rem;
      width: 4.4rem;
    }
    &-apoio{
      height: 2.5rem;
      width: 8.2rem;
    }
  }

  &__logo{
    &-dev,
    &-ensino,
    &-apoio{
      @include hover-transition-opacity($logo-opacity, $logo-opacity-transition);
    }
    &-dev{
      @include image-replacement($footer-link-logo-dev);
    }
    &-ensino{
      @include image-replacement($footer-link-logo-ensino);
    }
    &-apoio{
      @include image-replacement($footer-link-logo-apoio);
    }
  }
}
