@use "@/styles/abstracts/mixins" as *;

$footer-text-color: var(--c-blue);
$footer-link-logo-dev:    "@/assets/icons/logo-rosadev.png";
$footer-link-logo-apoio:  "@/assets/icons/logo-empower.svg?react";
$footer-link-logo-ensino: "@/assets/icons/logo-vainaweb.svg?react";
$logo-opacity: .85;
$logo-opacity-transition: 1;

.footer{
  &__areas{
    @include flex-center-start;
    gap: var(--g-base);
  }

  &__area{
    @include flex-col-center;
    gap: var(--g-xs);
  }

  &__text{
    color: $footer-text-color;
    font-family: var(--ff-texts);
    font-size:   var(--fs-base);
    font-weight: var(--fw-base);
    letter-spacing: .1rem;
    line-height: var(--lh-base);
  }

  &__logos{
    @include flex-center-start;
  }

  &__link{
    &-wrapper{
      @include flex-center-center;
      height: 3rem;
    }
    &-dev{
      height: 2.8rem;
      width:  4.6rem;
    }
    &-ensino{
      height: 3rem;
      width:  4.4rem;
    }
    &-apoio{
      height: 2.5rem;
      width:  8.2rem;
    }
  }

  &__logo{
    &-dev,
    &-ensino,
    &-apoio{
      @include hover-transition-opacity(
        $logo-opacity,
        $logo-opacity-transition
      );
    }
    &-dev{
      @include image-replacement(
        $footer-link-logo-dev
      );
    }
    &-ensino{
      @include image-replacement(
        $footer-link-logo-ensino
      );
    }
    &-apoio{
      @include image-replacement(
        $footer-link-logo-apoio
      );
    }
  }
}
