@use "@/styles/abstracts/mixins" as *;

.home{
  &__wrapper{
    @include flex-center-center;
    height: 100%;
  }

  &__container{
    @include flex-col-start;
    height: 100%;
    @media screen and (min-width: 480px){
      @include flex-center-start;
    }
  }

  &__content{
    @include flex-col-start-between;
    gap: 5rem;

    &--top{
      @include flex-col-start-between;
      gap: 3rem;
      height: 36rem;
    }

    &--bottom{
      @include flex-center-between;
      width: 100%;
    }
  }

  &__image{
    &--wrapper{
      @include flex-start-center;
      height: 100%;
    }
    &--content{
      max-height: 95%;
    }
  }
}
