@use "@/styles/abstracts/mixins" as *;

.section{
  &__wrapper{
    @include wrapper;
  }

  &__container{
    @include flex-col-center;
    gap: var(--g-md);
    padding: 8rem 0;
  }

  &__title{
    color: var(--c-blue);
    font-family: var(--ff-base);
    font-size:   var(--fs-3xl);
    font-weight: var(--fw-bold);
    text-shadow: var(--ts-base);
  }

  &__card{
    &--list{
      @include flex-center-center;
    }
  }
}
