@use "@/styles/abstracts/mixins" as *;

.section{
  &__wrapper{
    @include wrapper;
  }

  &__container{
    @include flex-col-center;
    padding: 3rem 0;
    @media screen and (min-width: 480px){
      gap: 6rem;
      padding: 0;
    }
  }

  &__title{
    color: var(--c-blue);
    font-family: var(--ff-base);
    font-size:   var(--fs-2xl);
    font-weight: var(--fw-bold);
    text-shadow: var(--ts-base);
    @media screen and (min-width: 480px){
      font-size:   var(--fs-3xl);
      gap: var(--g-md);
    }
  }

  &__card{
    &--list{
      display: grid;
      grid-template-rows: 1fr 1fr 1fr;
      grid-template-columns: 1fr;

      @media screen and (min-width: 480px){
        grid-template-rows: 1fr;
        grid-template-columns: 1fr 1fr 1fr;
      }
    }
  }
}
