:root {
  --color-blue-1: #205691;
  --color-blue-2: #122F97;
  --color-blue-3: #00AAFF;
  --color-blue-4: #1D4ED8;
  --color-black: #000000;
  --color-white: #FFFFFF;
  --color-grey-1: #E9EEF4;
  --color-grey-2: #CBCBCB;
  --color-red: #FD7267;
}
