:root {
  --font-base: 'Source Sans 3', sans-serif;
  --font-texts: 'Helvetica', Arial, sans-serif;
  --font-xs: 1.6rem;
  --font-sm: 2.4rem;
  --font-md: 3rem;
  --font-lg: 6rem;
  --font-xlg: 9rem;

  --font-regular: 400;
  --font-semibold: 600;
  --font-bold: 700;

  --line-base: 1.5;
}
