@use "../../../styles/abstracts/mixins" as *;

.home{
  &__text{
    &--title,
    &--paragraph{
      color: var(--color-blue);
      letter-spacing: .01rem;
    }

    &--title{
      font-family: var(--font-base);
      font-size: 7.6rem;
      line-height: 1.2;
      width: 59rem;
      text-shadow: 0 .2rem .2rem rgba(0, 0, 0, .25);
    }

    &--paragraph{
      font-family: var(--font-texts);
      font-size: 2rem;
      line-height: 1.4;
      width: 56rem;
    }
  }
}
