@use "@/styles/abstracts/mixins" as *;

.home{
  &__text{
    &--title,
    &--paragraph{
      color: var(--c-blue);
      text-align: center;
      @media screen and (min-width: 480px){
        text-align: left;
        letter-spacing: var(--ls-base);
      }
    }

    &--title{
      font-family: var(--ff-base);
      font-size:   var(--fs-2xl);
      text-shadow: var(--ts-base);
      width: 34rem;
      @media screen and (min-width: 480px){
        font-size:   var(--fs-4xl);
        line-height: var(--lh-base);
        width: 60rem;
      }
    }

    &--paragraph{
      font-family: var(--ff-texts);
      font-size:   var(--fs-xs);
      line-height: var(--lh-sm);
      width: 100%;
      max-width: 38rem;
      @media screen and (min-width: 480px){
        font-size:   var(--fs-md);
        max-width: 60rem;
      }
    }
  }
}
