@use "../../../../styles/abstracts/mixins" as *;

$navigation-link-color: var(--color-white);
$navigation-link-hover-color: var(--color-red);
$navigation-link-text-size: 1.6rem;
$navigation-link-text-weight: var(--font-regular);

.navigation{
  &__wrapper{
    width: 65.3rem;
    height: 4rem;
    gap: 4rem;
    @include flex-center-center
  }

  &__link{
    display: block;
    color: $navigation-link-color;
    transition: color 0.3s ease;

    &:hover{
      color: $navigation-link-hover-color;
    }
  }

  &__text{
    font-size: $navigation-link-text-size;
    font-weight: $navigation-link-text-weight;
    letter-spacing: 0.05rem;
  }
}
