@use "@/styles/abstracts/mixins" as *;

$nav-color:   var(--c-white);
$nav-color-h: var(--c-red);
$nav-size:    var(--fs-xs);
$nav-size-desktop: var(--fs-md);
$nav-weight:  var(--fw-base);

.navigation{
  &__wrapper{
    @include flex-center-center;
    flex-wrap: wrap;
    gap: var(--g-base);
    width: 21rem;


    @media screen and (min-width: 480px){
      flex-wrap: nowrap;
      gap: var(--g-md);
      width: unset;
    }
  }

  &__link{
    @include hover-transition-color(
      $nav-color,
      $nav-color-h
    );
  }

  &__text{
    font-family: var(--ff-base);
    font-size: $nav-size;
    font-weight: $nav-weight;
    letter-spacing: var(--ls-base);

    @media screen and (min-width: 480px){
      font-size: $nav-size-desktop;
      letter-spacing: var(--ls-md);
    }
  }
}
