@use "@/styles/abstracts/mixins" as *;

.home{
  &__metrics{
    &--item{
      @include flex-col-center-between;
    }

    &--title,
    &--text{
      color: var(--c-blue);
      letter-spacing: var(--ls-base);
      line-height:    var(--lh-xs);
    }

    &--title{
      font-family: var(--ff-base);
      font-size:   var(--fs-3xl);
      font-weight: var(--fw-bold);
      text-shadow: var(--ts-base);
    }

    &--text{
      font-family: var(--ff-texts);
      font-size:   var(--fs-sm);
      font-weight: var(--fw-base);
      text-align:  var(--ta-c);
      width: 16rem;
    }
  }
}
