@use "@/styles/abstracts/mixins" as *;

$login-dropdown-background: var(--c-blue);
$login-username-color: var(--c-white);
$login-menu-link-color: var(--c-white);
$login-menu-link-color-hover: var(--c-red);
$login-menu-link-font-size: var(--fs-base);
$login-menu-link-font-weight: var(--fw-base);
$login-menu-button-color: var(--c-white);
$login-menu-button-color-hover: var(--c-red);
$login-menu-button-font-size: var(--fs-base);
$login-menu-button-font-weight: var(--fw-bold);

.login{
  &__wrapper{
    position: relative;
  }
  &__image{
    &--container{
      height: 5.4rem;
      width:  5.4rem;
    }
    &--thumbnail{
      border-radius: var(--br-img);
      border:     .3rem solid var(--c-white);
      box-shadow: 0 .2rem .8rem rgba(0, 0, 0, .5);
      cursor:     pointer;
      width:      100%;
    }
  }

  &__dropdown{
    @include flex-col-end;
    background-color: $login-dropdown-background;
    border-radius: var(--br-sm);
    box-shadow: 0 .2rem .8rem rgba(0, 0, 0, .15);
    gap: var(--g-base);
    padding: 1.6rem;
    position: absolute;
    right: -2.5rem;
    text-align: var(--ta-l);
    top: 6rem;
    width: 12rem;
  }

  &__user-name{
    color:     $login-username-color;
    font-size: $login-menu-button-font-size;
    font-weight:    var(--fw-bold);
    letter-spacing: var(--ls-base);
  }

  &__menu{
    @include flex-col-end;
    font-size: var(--fs-xl);
    gap: var(--g-base);
    letter-spacing: var(--ls-base);
  }

  &__menu-link{
    @include link-style(
      $login-menu-link-color,
      $login-menu-link-color-hover,
      $login-menu-link-font-size,
      $login-menu-link-font-weight
    );
  }

  &__menu-button{
    @include link-style(
      $login-menu-button-color,
      $login-menu-button-color-hover,
      $login-menu-button-font-size,
      $login-menu-button-font-weight
    );
  }
}
