@use "@/styles/abstracts/mixins" as *;

$footer-wrapper-bg: var(--c-gray);

.footer{
  &__wrapper{
    @include wrapper;
    background-color: $footer-wrapper-bg;
  }

  &__container{
    @include container;
    padding: 0 4rem;
  }
}
