@use "@/styles/abstracts/mixins" as *;

$footer-wrapper-bg: var(--c-gray);

.footer{
  &__wrapper{
    @include flex-center-center;
    background-color: $footer-wrapper-bg;
  }

  &__container{
    @include flex-center-between;
    width: 100%;
    max-width: 1240px;
  }
}
