@use "../../../styles/abstracts/mixins" as *;

$button-bg: var(--color-blue);
$button-bg-hover: var(--color-red);
$card_text-color: var(--color-blue);

.card{
  &__wrapper{
    @include flex-col-center;
    gap: 1.5rem;
    height: 100%;
    padding: 1rem 4rem;

    &:not(:last-child){
      border-right: .1rem solid var(--color-grey);
    }
  }

  &__title,
  &__text{
    color: $card_text-color;
    white-space: pre-line;
    text-align: center;
  }

  &__title{
    font-size: 3rem;
    width: 30rem;
    max-height: 6rem;
  }

  &__text{
    font-family: var(--font-texts);
    color: var(--color-black);
    font-size: 1.4rem;
    line-height: 1.2;
    width: 30rem;
    height: 10rem;
    > span {
      font-weight: var(--font-semibold);
    }
    opacity: .5;
  }

  &__button{
    background-color: $button-bg;
    border-radius: var(--radius-2);
    color: var(--color-white);
    font-family: var(--font-base);
    font-weight: var(--font-semibold);
    font-size: 1.6rem;
    letter-spacing: .05rem;
    width: 21rem;
    height: 5rem;
    box-shadow: .2rem .3rem .4rem rgba(0, 0, 0, .2);
    transition: all 1s ease 0s;

    &:hover{
      background-color: $button-bg-hover;
      transform: translateY(-1rem);
    }

    &:active{
      transform: translateY(.5rem);
    }
  }
}
