@use "../../../styles/abstracts/mixins" as *;

$button-bg: var(--c-blue);
$button-bg-hover: var(--c-red);
$card_text-color: var(--c-blue);

.card{
  &__wrapper{
    @include flex-col-center;
    gap:     var(--g-base);
    height:  100%;
    padding: 5rem 1rem;
    @media screen and (min-width: 480px){
      padding: 1rem 4rem;
    }

    &:not(:last-child){
      border-bottom: .1rem solid var(--c-gray);
      @media screen and (min-width: 480px){
        border-bottom: none;
        border-right: .1rem solid var(--c-gray);
      }
    }
  }

  &__title,
  &__text{
    color: $card_text-color;
    text-align:  var(--ta-c);
    white-space: pre-line;
    width:       30rem;
  }

  &__title{
    font-size:  var(--fs-xl);
    max-height: 6rem;
  }

  &__text{
    color: var(--c-gray-d);
    font-family: var(--ff-texts);
    font-size:   var(--fs-xs);
    height: 10rem;
    line-height: var(--lh-base);
    width: 30rem;
    > span {
      font-weight: var(--fw-semi);
    }
  }

  &__button{
    background-color: $button-bg;
    border-radius:  var(--br-sm);
    box-shadow:     .2rem .3rem .4rem rgba(0, 0, 0, .2);
    color:          var(--c-white);
    font-family:    var(--ff-base);
    font-size:      var(--fs-sm);
    font-weight:    var(--fw-semi);
    height:         5rem;
    letter-spacing: var(--ls-xs);
    width:          21rem;

    transition:     all 1s ease 0s;
    &:hover{
      background-color: $button-bg-hover;
      transform: translateY(-1rem);
    }

    &:active{
      transform: translateY(.5rem);
    }
  }
}
