.app{
  &__wrapper{
    display: grid;
    grid-template-rows: 8.5rem 1fr 15rem;
    grid-template-columns: 1fr;
    min-height: 100dvh;
    margin: 0;
    padding: 0;

    @media screen and (min-width: 480px){
      grid-template-rows: 8.5rem 1fr 8rem;
    }
  }
}
