@use "@/styles/abstracts/mixins" as *;

$link-color: var(--c-black);
$link-color-transition: var(--c-red);

.perfilUsuario{
  &__wrapper{
    @include wrapper;
    height: calc(100vh - 16.5rem);
    overflow: hidden;
  }

  &__container{
    @include container;
    @include flex-center-center;
  }

  &__content{
    @include flex-center-center;
    gap: var(--g-base);
  }

  &__image{
    &--wrapper{
      width:  30rem;
      height: 30rem;
    }
    &--thumbnail{
      border: .8rem solid var(--c-red);
      border-radius: var(--br-img);
      box-shadow: 0 .4rem .4rem rgba(0, 0, 0, .25);
      width: 100%;
      height: 100%;
    }
  }

  &__infos{
    &--wrapper{
      @include flex-col-start;
    }

    &--user{
      color: var(--c-blue);
      font-family: var(--fw-base);
      font-size:   var(--fs-2xl);
      margin-bottom: .4rem;
    }

    &--position,
    &--bio{
      font-family: var(--ff-texts);
      margin-bottom: 1.8rem;
      max-width: 42rem;
    }

    &--position{
      color: var(--c-red);
      font-weight: var(--fw-semi);
      font-size:   var(--fs-sm);
    }

    &--bio{
      color: var(--c-black);
      font-weight: var(--fw-regular);
      opacity:   .75;
      font-size:   var(--fs-xs);
      letter-spacing: var(--ls-xs);
      line-height:    var(--lh-base);
      max-width: 42rem;
    }

    &--icons{
      @include flex-center-start;
      gap: var(--g-base);
      margin-bottom: 2rem;
    }

    &--icon{
      @include flex-center-start;
      font-family: var(--ff-texts);
      font-size:   var(--fs-base);
      font-weight: var(--fw-base);
      gap: var(--g-xs);
      letter-spacing: var(--ls-base);
    }

    &--email{
      @include hover-transition-color(
        $link-color,
        $link-color-transition
      );
    }

    &--tags{
      @include flex-center-start;
      gap: var(--g-xs);
    }

    &--tag{
      @include flex-center-center;
      background-color: var(--c-rose);
      border-radius:    var(--br-xs);
      color:       var(--c-red);
      font-size:   var(--fs-xs);
      font-weight: var(--fw-semi);
      letter-spacing:  var(--ls-xs);
      padding: .6rem 1rem;
    }
  }
}
