@use "@/styles/abstracts/mixins" as *;

$error-link-color: var(--c-blue);
$error-link-color-hover: var(--c-red);


.notFound{
  &__wrapper{
    @include wrapper;
    height: calc(100vh - 16.5rem);
    overflow: hidden;
  }

  &__container{
    @include container;
    @include flex-center-center;
  }

  &__content{
    @include flex-col-center;
  }

  &__title,
  &__subtitle{
    color: var(--c-gray-d);
  }


  &__title{
    font-family: var(--ff-base);
    font-size:   var(--fs-t-error);
  }

  &__subtitle{
    font-family:   var(--ff-texts);
    font-size:     var(--fs-lg);
    font-weight:   var(--fw-semi);
    margin-bottom: 4rem;
  }

  &__link{
    @include hover-transition-color(
      $error-link-color,
      $error-link-color-hover
    );
    font-family: var(--ff-texts);
    font-size:   var(--fs-md);
    font-weight: var(--fw-base);
  }
}
