/* src/styles/base/_typography.scss */

/* =========================================
  TYPOGRAPHY SYSTEM
========================================= */

body {
  font-family: "Source Sans 3", Helvetica Neue, Arial, sans-serif;
  font-size: 1.6rem;
  color: var(--color-text-main);
  background: var(--color-text-main);
}


/* Heading scale */

h1, h2, h3, h4, button{
  font-family: "Source Sans 3", Helvetica, Arial, sans-serif;
}

h1, h2{
  line-height: 1;
  font-weight: 700;
}

h1 {
  font-size: 9rem;
}

h2 {
  font-size: 6rem;
}

h3 {
  font-size: 3rem;
  line-height: 1.2;
}


/* Texto */
p{
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
}

/* Links */
a {
  color: var(--color-link);
  transition: color 0.2s ease;
}

a:hover {
  color: var(--color-link-hover);
}

/* Deals */
h4 {
  font-size: 5rem;
  font-weight: 700;
}

h4 > span{
  font-size: 1.6rem;
  font-weight: 400;
}

/* Button */
button{
  font-weight: 600;
  font-size: 2.4rem;
}
